{% extends "base.html" %}
{% load static %}
{% block head_title%}Crear Empleados{% endblock %}
{% block active_cuenta %}<li class="nav-item active">{% endblock %}
{% block title_page %}Crear Empleado{% endblock %}
{% block container %}
{{msg}}
<form method="POST"> {% csrf_token %} 
	<label>Usuario</label>
  	<input type="text" id="username" name="username"  class="form-control col-lg-3" required>
  	<label>Nombres</label>
  	<input type="text" id="first_name" name="first_name" class="form-control col-lg-3" required>
  	<label>Apellidos</label>
  	<input type="text" id="last_name" name="last_name" class="form-control col-lg-3" required>
  	<label>Contraseña</label>
  	<input type="password" id="password" name="password" class="form-control col-lg-3" required>
 	<br><button type="submit" class="btn btn-primary ">Agregar</button>
</form>
{% endblock %}